<div class="wrapper p-10">
  <mat-dialog-content class="mat-typography">
    <div class="row">
      <div class="col">
        <h1 class="pb-5 tc-red">{{ dialogData.name }}</h1>
      </div>
    </div>

    <!-- start::Item type -->
    <div *ngIf="dialogData.type" class="row">
      <div class="col">
        <p class="font-italic">
          {{ dialogData.type }}
          <span *ngIf="dialogData.requires_attunement" class="font-italic">
            (requires attunement)
          </span>
        </p>
      </div>
    </div>
    <!-- end::Item type -->

    <!-- start:: DIVIDER -->
    <div class="divider"></div>
    <!-- end:: DIVIDER -->

    <!-- start::Rarity -->
    <div *ngIf="dialogData.rarity" class="row">
      <div class="col-3">
        <p class="font-weight-bolder">Rarity:</p>
      </div>
      <div class="col">
        <p> {{ dialogData.rarity }} </p>
      </div>
    </div>
    <!-- end::Rarity -->

    <!-- start::Value -->
    <div *ngIf="dialogData.value" class="row">
      <div class="col-3">
        <p class="font-weight-bolder">Value:</p>
      </div>
      <div class="col">
        <p> {{ dialogData.value }} </p>
      </div>
    </div>
    <!-- end::Value -->

    <!-- start::Description -->
    <div *ngIf="dialogData.description">
      <!-- start:: DIVIDER -->
      <div class="divider"></div>
      <!-- end:: DIVIDER -->
      <div class="row pt-5">
        <div class="col">
          <p> {{ dialogData.description }} </p>
        </div>
      </div>
    </div>
    <!-- end::Description -->


  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
  </mat-dialog-actions>
</div>
