<div class="card card-custom card-stretch">
  <!-- start:: Card Header -->
  <div class="card-header py-3">
    <div class="card-title align-items-start flex-column">
      <h1 class="text-dark">Storyboard</h1>
    </div>

    <div class="card-toolbar">
      <!-- start:: Loading spinner -->
      <div *ngIf="isLoading" class="spinner-container-p-0">
        <mat-spinner [diameter]="35" style="margin: auto"></mat-spinner>
      </div>
      <!-- end:: Loading spinner -->
    </div>
  </div>
  <!-- end:: Card Header -->

  <!-- start:: Card Body -->
  <div class="card-body">
    <div class="row">
      <!-- start:: Main Plots -->
      <div class="col">
        <h4>Plots</h4>
        <div
          cdkDropList
          #mainPlots="cdkDropList"
          [cdkDropListData]="plotsMain"
          [cdkDropListConnectedTo]="[inProgressPlots, donePlots]"
          class="list"
          (cdkDropListDropped)="drop($event)"
        >
          <div class="box" *ngFor="let plot of plotsMain; let plotIndex = index" cdkDrag>
            <!-- start:: Plot Options Button -->
            <div class="row">
              <div class="d-flex justify-content-end col container-plot-options">
                <button mat-icon-button class="button-plot-options" [matMenuTriggerFor]="plotMenu">
                  <mat-icon>more_horiz</mat-icon>
                </button>
                <mat-menu #plotMenu="matMenu">
                  <div *ngFor="let option of PLOT_OPTIONS">
                    <button
                      mat-menu-item
                      (click)="modifyStoryboardPlot('plotsMain', option, plot, plotIndex)"
                    >
                      {{ option }}
                    </button>
                  </div>
                </mat-menu>
              </div>
            </div>
            <!-- end:: Plot Options Button -->

            <!-- start:: Plot Box -->
            <div class="row">
              <div class="col-10">
                <h6>{{ plot.title }}</h6>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p>{{ plot.description }}</p>
              </div>
            </div>
            <!-- end:: Plot Box -->
          </div>

          <!-- start:: Loading spinner -->
          <div *ngIf="!plotsMain" class="mt-6 mb-6">
            <mat-spinner [diameter]="30" style="margin: auto"></mat-spinner>
          </div>
          <!-- end:: Loading spinner -->

          <div *ngIf="plotsMain">
            <div class="d-flex justify-content-center mt-2 mb-2">
              <button mat-button class="button-add-plot" (click)="addStoryboardPlot('plotsMain')">
                <mat-icon class="icon-add-plot">add</mat-icon> Add another Plot
              </button>
            </div>
          </div>
          <!-- end:: Add Plot -->
        </div>

        <!-- start:: Add Plot -->
      </div>
      <!-- end:: Main Plots -->

      <!-- start:: Plots in Progress -->
      <div class="col">
        <h4>Plots In Progress</h4>
        <div
          cdkDropList
          #inProgressPlots="cdkDropList"
          [cdkDropListData]="plotsInProgress"
          [cdkDropListConnectedTo]="[mainPlots, donePlots]"
          class="list"
          (cdkDropListDropped)="drop($event)"
        >
          <div class="box" *ngFor="let plot of plotsInProgress; let plotIndex = index" cdkDrag>
            <!-- start:: Plot Options Button -->
            <div class="row">
              <div class="d-flex justify-content-end col container-plot-options">
                <button mat-icon-button class="button-plot-options" [matMenuTriggerFor]="plotMenu">
                  <mat-icon>more_horiz</mat-icon>
                </button>
                <mat-menu #plotMenu="matMenu">
                  <div *ngFor="let option of PLOT_OPTIONS">
                    <button
                      mat-menu-item
                      (click)="modifyStoryboardPlot('plotsInProgress', option, plot, plotIndex)"
                    >
                      {{ option }}
                    </button>
                  </div>
                </mat-menu>
              </div>
            </div>
            <!-- end:: Plot Options Button -->

            <!-- start:: Plot Box -->
            <div class="row">
              <div class="col-10">
                <h6>{{ plot.title }}</h6>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p>{{ plot.description }}</p>
              </div>
            </div>
            <!-- end:: Plot Box -->
          </div>

          <!-- start:: Loading spinner -->
          <div *ngIf="!plotsInProgress" class="mt-6 mb-6">
            <mat-spinner [diameter]="30" style="margin: auto"></mat-spinner>
          </div>
          <!-- end:: Loading spinner -->

          <!-- start:: Add Plot -->
          <div *ngIf="plotsInProgress">
            <div class="d-flex justify-content-center mt-2 mb-2">
              <button mat-button class="button-add-plot" (click)="addStoryboardPlot('plotsInProgress')">
                <mat-icon class="icon-add-plot">add</mat-icon> Add another Plot
              </button>
            </div>
          </div>
          <!-- end:: Add Plot -->
        </div>
      </div>
      <!-- end:: Plots in Progress -->

      <!-- start:: Plots Done -->
      <div class="col">
        <h4>Plots Completed</h4>
        <div
          cdkDropList
          #donePlots="cdkDropList"
          [cdkDropListData]="plotsDone"
          [cdkDropListConnectedTo]="[mainPlots, inProgressPlots]"
          class="list"
          (cdkDropListDropped)="drop($event)"
        >
          <div class="box" *ngFor="let plot of plotsDone; let plotIndex = index" cdkDrag>
            <!-- start:: Plot Options Button -->
            <div class="row">
              <div class="d-flex justify-content-end col container-plot-options">
                <button mat-icon-button class="button-plot-options" [matMenuTriggerFor]="plotMenu">
                  <mat-icon>more_horiz</mat-icon>
                </button>
                <mat-menu #plotMenu="matMenu">
                  <div *ngFor="let option of PLOT_OPTIONS">
                    <button
                      mat-menu-item
                      (click)="modifyStoryboardPlot('plotsDone', option, plot, plotIndex)"
                    >
                      {{ option }}
                    </button>
                  </div>
                </mat-menu>
              </div>
            </div>
            <!-- end:: Plot Options Button -->

            <!-- start:: Plot Box -->
            <div class="row">
              <div class="col-10">
                <h6>{{ plot.title }}</h6>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p>{{ plot.description }}</p>
              </div>
            </div>
            <!-- end:: Plot Box -->
          </div>

          <!-- start:: Loading spinner -->
          <div *ngIf="!plotsDone" class="mt-6 mb-6">
            <mat-spinner [diameter]="30" style="margin: auto"></mat-spinner>
          </div>
          <!-- end:: Loading spinner -->
        </div>
      </div>
      <!-- end:: Plots Done -->
    </div>
  </div>
  <!-- end:: Card Body -->
</div>
