@import "../../tc-dialogs.scss";

div.dialog-header {
  margin-bottom: 30px;
}

span.checkbox-container {
    margin-bottom: 10px;
    padding: 5px;
}

h4 {
  margin: 0;
}

ul {
  list-style-type: none;
}
