<div class="wrapper p-10">
  <mat-dialog-content class="mat-typography">
    <!-- start:: Header -->
    <div class="dialog-header">
      <h1>Create a Homebrew Weapon</h1>
    </div>
    <!-- end:: Header -->

    <!-- start:: Form -->
    <form [formGroup]="createWeaponForm">
      <h4 class="tc-red" style="font-weight: bold">GENERAL INFORMATION</h4>
      <div class="divider"></div>

      <!-- * start:: FormGroup - General Information -->
      <div formGroupName="generalInformation" class="form-group">
        <div class="row">
          <!-- start:: Name -->
          <div class="col-6">
            <mat-form-field>
              <mat-label>Name</mat-label>
              <input
                formControlName="name"
                matInput
                placeholder="Eg. Silverlight"
                type="text"
              />
            </mat-form-field>
          </div>
          <!-- end:: Name -->
          <!-- start:: Category -->
          <div class="col-6">
            <mat-form-field>
              <mat-label>Category</mat-label>
              <input
                formControlName="weapon_category"
                matInput
                placeholder="Eg. Martial"
                type="text"
              />
            </mat-form-field>
          </div>
          <!-- end:: Category -->
        </div>

        <div class="row">
          <!-- start:: Range -->
          <div class="col-6">
            <mat-form-field>
              <mat-label>Range</mat-label>
              <mat-select formControlName="weapon_range">
                <mat-option *ngFor="let item of RANGES" [value]="item">
                  {{ item }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <!-- end:: Range -->

          <!-- start:: Cost: Quantity -->
          <div class="col-4">
            <mat-form-field>
              <mat-label>Value (amount)</mat-label>
              <input formControlName="cost_quantity" matInput type="number" />
            </mat-form-field>
          </div>
          <!-- end:: Cost: Quantity -->

          <!-- start:: Cost: Unit -->
          <div class="col-2">
            <mat-form-field>
              <mat-label>Value (pieces)</mat-label>
              <mat-select formControlName="cost_unit">
                <mat-option *ngFor="let item of CURRENCIES" [value]="item">
                  {{ item }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <!-- end:: Cost: Unit -->
        </div>

        <div class="row">
          <!-- start:: Weight -->
          <div class="col-6">
            <mat-form-field>
              <mat-label>Weight (pounds)</mat-label>
              <input formControlName="weight" matInput type="number" />
            </mat-form-field>
          </div>
          <!-- end:: Weight -->

          <!-- start:: Rarity -->
          <div class="col-6">
            <mat-form-field>
              <mat-label>Rarity</mat-label>
              <input
                formControlName="rarity"
                matInput
                placeholder="Eg. Uncommon"
                type="text"
              />
            </mat-form-field>
          </div>
          <!-- end:: Rarity -->
        </div>

        <!-- start:: Requires Attunement -->
        <div class="row">
          <div class="col">
            <mat-checkbox formControlName="requires_attunement" color="primary">
              Requires attunement
            </mat-checkbox>
          </div>
        </div>
        <!-- end:: Requires Attunement -->
      </div>
      <!-- * end:: FormGroup - General Information -->

      <h4 class="tc-red" style="font-weight: bold">DAMAGE AND RANGE</h4>
      <div class="divider"></div>

      <!-- * start:: FormGroup - Damage and Range -->
      <div formGroupName="damageAndRange" class="form-group">
        <div class="row">
          <!-- start:: Damage Dice-->
          <div class="col-3">
            <mat-form-field>
              <mat-label>Number of damage dice</mat-label>
              <input
                formControlName="damage_dice_number"
                matInput
                type="number"
              />
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field>
              <mat-label>Type of damage die</mat-label>
              <mat-select formControlName="damage_dice_die">
                <mat-option *ngFor="let item of DICE" [value]="item">
                  {{ item }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <!-- end:: Damage Dice -->
          <!-- start:: Damage Type -->
          <div class="col-6">
            <mat-form-field>
              <mat-label>Damage type</mat-label>
              <input
                matInput
                formControlName="damage_type"
                placeholder="Eg. Slashing"
                type="text"
              />
            </mat-form-field>
          </div>
          <!-- end:: Damage Type -->
        </div>

        <!-- todo:: Remove the Normal and Long range inputs on Melee Weapons. -->
        <div class="row">
          <!-- start:: Normal Range -->
          <div class="col-6">
            <mat-form-field>
              <mat-label>Normal range (ft.)</mat-label>
              <input formControlName="range_normal" matInput type="number" />
            </mat-form-field>
          </div>
          <!-- end:: Normal Range -->
          <!-- start:: Long Range -->
          <div class="col-6">
            <mat-form-field>
              <mat-label>Long range (ft.)</mat-label>
              <input formControlName="range_long" matInput type="number" />
            </mat-form-field>
          </div>
          <!-- end:: Long Range -->
        </div>
      </div>
      <!-- * end:: FormGroup - Damage and Range -->

      <h4 class="tc-red" style="font-weight: bold">PROPERTIES</h4>
      <div class="divider"></div>

      <!-- * start:: FormGroup - Properties -->
      <div formGroupName="properties" class="form-group pb-3">
        <!-- start:: Properties -->
        <!-- todo - need to fix properties checkboxes: arrange in array to read from? -->
        <div class="row">
          <div class="col">
            <span *ngFor="let item of PROPERTIES" class="checkbox-container">
              <mat-checkbox
                formControlName="properties_{{ item }}"
                color="primary"
              >
                {{ item }}
              </mat-checkbox>
            </span>
          </div>
        </div>
        <!-- end:: Properties -->
      </div>
      <!-- * end:: FormGroup - Properties -->

      <h4 class="tc-red" style="font-weight: bold">DESCRIPTION</h4>
      <div class="divider"></div>

      <!-- start:: Description -->
      <div class="row">
        <div class="col">
          <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea
              matInput
              formControlName="description"
              placeholder="Eg. This weapon has a +2 to hit on attack rolls. 
              This weapon also deals addtional 2d6 Radiant damage to undead, 
              demons, and lycanthrope targets."
            ></textarea>
          </mat-form-field>
        </div>
      </div>
      <!-- end:: Description -->
    </form>
    <!-- end:: Form -->
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Back</button>
      <button (click)="saveWeapon()" color="primary" type="submit" mat-button>
        Create
      </button>
    </mat-dialog-actions>
  </mat-dialog-content>
</div>
