<mat-dialog-content>
  <div class="card card-custom">
    <!-- start:: Card Header -->
    <div class="card-header">
      <div class="card-title">
        <div class="card-label">
          <h1>{{ headerTitle }}</h1>
        </div>
      </div>
    </div>
    <!-- end:: Card Header -->

    <!-- start:: Card Body -->
    <div class="card-body">
      <!-- start:: Form -->
      <form [formGroup]="form" class="form-group">
        <!-- start:: KT Alert if form has errors. -->
        <kt-alert
          *ngIf="hasFormErrors"
          type="warn"
          [duration]="30000"
          [showCloseButton]="true"
          (close)="onAlertClose($event)"
        >
          {{ errorMessage }}
        </kt-alert>
        <!-- start:: KT Alert if form has errors. -->

        <!-- start:: Chapter Title -->
        <div class="form-group row">
          <div class="col">
            <mat-form-field>
              <mat-label>Chapter title</mat-label>
              <input
                formControlName="chapter"
                matInput
                placeholder="Eg. Chapter I – Into the World"
                type="text"
              />
              <mat-error> Chapter title is <strong>required.</strong> </mat-error>
              <mat-hint align="start"> The <strong>chapter title</strong>. </mat-hint>
            </mat-form-field>
          </div>
        </div>
        <!-- end:: Chapter Title -->

        <!-- start:: Episode Title -->
        <div class="form-group row">
          <div class="col">
            <mat-form-field>
              <mat-label>Episode title</mat-label>
              <input
                formControlName="episode"
                matInput
                placeholder="Eg. 	Episode 6 – A New Enemy"
                type="text"
              />
              <mat-error> Episode title is <strong>required.</strong> </mat-error>
              <mat-hint align="start"> The <strong>episode title</strong>. </mat-hint>
            </mat-form-field>
          </div>
        </div>
        <!-- end:: Episode Title -->

        <!-- start:: Content -->
        <div class="form-group row">
          <div class="col">
            <mat-form-field appearance="outline">
              <textarea matInput rows="10" formControlName="content"></textarea>
              <mat-error>
                The contents of the session summary are
                <strong>required.</strong>
              </mat-error>
              <mat-hint align="start"> The <strong>session summary.</strong> </mat-hint>
            </mat-form-field>
          </div>
        </div>
        <!-- end:: Content -->

        <!-- start:: Footer -->
        <div class="card-footer">
          <!-- start:: KT Alert if form has errors. -->
          <kt-alert
            *ngIf="hasFormErrors"
            type="warn"
            [duration]="30000"
            [showCloseButton]="true"
            (close)="onAlertClose($event)"
          >
            {{ errorMessage }}
          </kt-alert>
          <!-- start:: KT Alert if form has errors. -->

          <div class="d-flex justify-content-between">
            <div class="mr-2"></div>
            <div>
              <button
                type="button"
                mat-raised-button
                mat-dialog-close
                cdkFocusInitial
                matTooltip="Discard session summary"
              >
                Cancel</button
              >&nbsp;
              <button
                type="button"
                mat-raised-button
                color="primary"
                (click)="onSubmit()"
                matTooltip="Create session summary"
              >
                Create
              </button>
            </div>
          </div>
        </div>
        <!-- end:: Footer -->
      </form>
      <!-- end:: Form -->
    </div>
    <!-- end:: Card Body -->
  </div>
</mat-dialog-content>
