<div class="wrapper p-10">
  <mat-dialog-content class="mat-typography">
    <!-- start:: Header - Chapter Title -->
    <div class="details-dialog-header">
      <div class="row">
        <div class="col-10">
          <h1 class="tc-red">{{ sessionData.chapter }}</h1>
        </div>
        <div class="d-flex justify-content-end col-2">
          <button class="dialog-button-close" mat-icon-button [mat-dialog-close]>
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <!-- end:: Header - Chapter Title -->

    <!-- start:: Episode Title -->
    <div *ngIf="sessionData.episode" class="row">
      <div class="col">
        <h3 class="font-italic mb-6">{{ sessionData.episode }}</h3>
      </div>
    </div>
    <!-- end:: Episode Title -->

    <!-- start:: Content -->
    <div *ngIf="sessionData.content" class="row">
      <div class="col">
        <p>{{ sessionData.content }}</p>
      </div>
    </div>
    <!-- end:: Content -->

    <!-- start:: Footer -->
    <div class="card-footer">
      <div class="d-flex justify-content-between">
        <div class="mr-2"></div>
        <div>
          <button
            type="button"
            mat-raised-button
            cdkFocusInitial
            (click)="editSession()"
            matTooltip="Edit session"
          >
            Edit</button
          >&nbsp;
          <button
            type="button"
            mat-raised-button
            color="primary"
            (click)="removeSession()"
            matTooltip="Remove session"
          >
            Remove
          </button>
        </div>
      </div>
    </div>
    <!-- end:: Footer -->
  </mat-dialog-content>
</div>
