// * TC Colors
$tc-red: #a90000;
$tc-red-hover: #da5a5a;
$tc-white: #ffffff;
$tc-theme-dark: #1e1e2d;
$tc-page-bg-dark: #36364e;

// *Color classes
.tc-red {
  color: $tc-red;
}

.tc-white {
  color: $tc-white;
}

// * Angular Material
// MatCards
.mat-card-header {
  border-bottom: 1px solid #ebedf3;
}
// MatTables
table {
  width: 100%;
}
// MatTable search filter
.mat-form-field {
  font-size: 14px;
  width: 100%;
}

// * Wrappers
.wrapper {
  margin: 0 auto;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

// * Buttons
.button-hover:hover {
  background-color: #e9e9e9;
}

// * Links
a {
  text-decoration: underline;
}

a:hover {
  cursor: pointer;
  color: $tc-red;
  text-decoration: underline;
}

.link {
  text-decoration: underline;
}

.link:hover {
  cursor: pointer;
  color: $tc-red;
  text-decoration: underline;
}

// * Loading spinners
.spinner-container {
  margin: auto;
  padding: 50px;
}
