<div class="wrapper p-10">
  <mat-dialog-content class="mat-typography">
    <!-- start:: Header -->
    <div class="dialog-header">
      <h1>Create a Homebrew Spell</h1>
    </div>
    <!-- end:: Header -->

    <!-- start:: Form -->
    <form [formGroup]="form">
      <h4 class="tc-red" style="font-weight: bold">GENERAL INFORMATION</h4>
      <div class="divider"></div>

      <!-- * start:: FormGroup - General Information -->
      <div formGroupName="generalInformation" class="form-group">
        <div class="row">
          <!-- start:: Name -->
          <div class="col-6">
            <mat-form-field>
              <mat-label>Name</mat-label>
              <input
                formControlName="name"
                matInput
                placeholder="Eg. Expelliarmus"
                type="text"
              />
            </mat-form-field>
          </div>
          <!-- end:: Name -->

          <!-- start:: Level -->
          <div class="col-6">
            <mat-form-field>
              <mat-label>Level</mat-label>
              <input
                formControlName="level"
                matInput
                placeholder="Eg. 1"
                type="number"
                min="0"
              />
            </mat-form-field>
          </div>
          <!-- end:: Level -->
        </div>

        <div class="row">
          <!-- start:: Range -->
          <div class="col-6">
            <mat-form-field>
              <mat-label>Range (ft.)</mat-label>
              <input
                formControlName="range"
                matInput
                placeholder="Eg. 60"
                type="text"
              />
            </mat-form-field>
          </div>
          <!-- end:: Range -->

          <!-- start:: Casting Time -->
          <div class="col-6">
            <mat-form-field>
              <mat-label>Casting Time</mat-label>
              <input
                formControlName="casting_time"
                matInput
                placeholder="Eg. 1 Action"
                type="text"
              />
            </mat-form-field>
          </div>
          <!-- end:: Casting Time -->
        </div>

        <div class="row">
          <!-- start:: Duration -->
          <div class="col-6">
            <mat-form-field>
              <mat-label>Duration</mat-label>
              <input
                formControlName="duration"
                matInput
                placeholder="Eg. Instantaneous"
                type="text"
              />
            </mat-form-field>
          </div>
          <!-- end:: Duration -->
        </div>

        <div class="row">
          <!-- start:: Is Attack Spell -->
          <div class="col-4">
            <mat-checkbox formControlName="is_attack_spell" color="primary">
              Attacking spell
            </mat-checkbox>
          </div>
          <!-- end:: Is Attack Spell -->

          <!-- start:: Is Concentration -->
          <div class="col-4">
            <mat-checkbox formControlName="concentration" color="primary">
              Concentration
            </mat-checkbox>
          </div>
          <!-- end:: Is Concentration -->

          <!-- start:: Is Ritual Spell -->
          <div class="col-4">
            <mat-checkbox formControlName="ritual" color="primary">
              Ritual spell
            </mat-checkbox>
          </div>
          <!-- end:: Is Ritual Spell -->
        </div>

        <div *ngIf="form.value.generalInformation.is_attack_spell" class="row">
          <!-- start:: Attack Type -->
          <div class="col-6">
            <mat-form-field>
              <mat-label>Attack Type</mat-label>
              <input
                formControlName="attack_type"
                matInput
                placeholder="Eg. Ranged"
                type="text"
              />
            </mat-form-field>
          </div>
          <!-- start:: Attack Type -->

          <!-- start:: Damage Type -->
          <div class="col-6">
            <mat-form-field>
              <mat-label>Damage Type</mat-label>
              <input
                formControlName="damage_type"
                matInput
                placeholder="Eg. Fire"
                type="text"
              />
            </mat-form-field>
          </div>
          <!-- start:: Damage Type -->
        </div>

        <!-- start:: Classes -->
        <div class="row">
          <!-- todo - Make these chips! see: https://material.angular.io/components/chips/overview -->
          <div class="col">
            <mat-form-field class="example-chip-list">
              <mat-label>Classes</mat-label>
              <mat-chip-list #chipList>
                <mat-chip
                  *ngFor="let item of spell_classes"
                  color="primary"
                  selected
                  [selectable]="selectable"
                  [removable]="removable"
                  (removed)="remove(item)"
                >
                  {{ item.name }}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input
                  placeholder="Eg. Sorcerer"
                  [matChipInputFor]="chipList"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  [matChipInputAddOnBlur]="addOnBlur"
                  (matChipInputTokenEnd)="add($event)"
                />
              </mat-chip-list>
            </mat-form-field>
          </div>
        </div>
        <!-- end:: Classes -->

        <!-- start:: School -->
        <div class="row">
          <div class="col">
            <mat-form-field>
              <mat-label>School</mat-label>
              <input
                formControlName="school"
                matInput
                placeholder="Eg. Evocation"
                type="text"
              />
            </mat-form-field>
          </div>
        </div>
        <!-- end:: School -->

        <div class="mt-5">
          <span style="color: #757575; font-size: 13px"> Components </span>
        </div>

        <!-- * start:: FormGroup - Components -->
        <div formGroupName="spellComponents" class="form-group">
          <div class="row">
            <div class="col-3">
              <span *ngFor="let item of SPELL_COMPONENTS" class="pr-5">
                <mat-checkbox
                  formControlName="spellComponent_{{ item }}"
                  color="primary"
                >
                  {{ item }}
                </mat-checkbox>
              </span>
            </div>

            <!-- start:: Material -->
            <div
              *ngIf="
                form.value.generalInformation.spellComponents.spellComponent_M
              "
              class="col-9"
            >
              <mat-form-field>
                <mat-label>Materials required</mat-label>
                <input
                  formControlName="material"
                  matInput
                  placeholder="Eg. A fashioned Ollivander wand."
                  type="text"
                />
              </mat-form-field>
            </div>
            <!-- end:: Material -->
          </div>
        </div>
        <!-- * end:: FormGroup - Components -->

        <!-- * end:: FormGroup - General Information -->
      </div>

      <h4 class="tc-red" style="font-weight: bold">
        DESCRIPTION AND CASTING AT HIGHER LEVELS
      </h4>
      <div class="divider"></div>

      <!-- * start:: Description -->
      <div class="row">
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <textarea
              matInput
              rows="5"
              cols="50"
              formControlName="description"
              placeholder="Eg. Fires a disarming charm at a target within 60 feet. The target must succeed on a Strength saving throw against your Spellcasting DC, otherwise they drop their main-hand weapon."
            ></textarea>
          </mat-form-field>
        </div>
      </div>
      <!-- * end:: Description -->

      <!-- * start:: At Higher Levels -->
      <div class="row">
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>At Higher Levels</mat-label>
            <textarea
              matInput
              rows="3"
              cols="50"
              formControlName="higher_level"
              placeholder="Eg. Casting this spell using a Spell Slot higher than Level 1 increases the spell save DC by +1, for each level higher that the Spell Slot was used to cast this spell."
            ></textarea>
          </mat-form-field>
        </div>
      </div>
      <!-- * end:: At Higher Levels -->
    </form>
    <!-- end:: Form -->
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Back</button>
      <button
        (click)="saveForm()"
        color="primary"
        type="submit"
        mat-dialog-close
        mat-button
      >
        Create
      </button>
    </mat-dialog-actions>
  </mat-dialog-content>
</div>
