<kt-portlet>
  <!-- start::Portlet Header -->
  <kt-portlet-header>
    <ng-container ktPortletTitle>
      <span>Dashboard</span>
    </ng-container>
  </kt-portlet-header>
  <!-- end::Portlet Header -->
  <!-- start:: Portlet Body -->
  <kt-portlet-body>
    <!-- start:: DM Screen -->
    <div class="screen">

      <!-- start:: Weapons Box -->
      <div class="example-box" cdkDrag cdkDragBoundary=".screen">
        <span class="link">
          <a (click)="openWindow(routeWeapons)">Weapons</a>
        </span>
      </div>
      <!-- end:: Weapons Box -->

      <!-- start:: Armor Box -->
      <div class="example-box" cdkDrag cdkDrag cdkDragBoundary=".screen">
        <span class="link">
          <a (click)="openWindow(routeArmor)">Armor</a>
        </span>
      </div>
      <!-- end:: Armor Box -->

      <!-- start:: Items Box -->
      <div class="example-box" cdkDrag cdkDrag cdkDragBoundary=".screen">
        <span class="link">
          <a (click)="openWindow(routeItems)">Items</a>
        </span>
      </div>
      <!-- end:: Items Box -->

      <!-- start:: NPCs Box -->
      <div class="example-box" cdkDrag cdkDrag cdkDragBoundary=".screen">
        <span class="link">
          <a (click)="openWindow(routeNPCs)">NPCs</a>
        </span>
      </div>
      <!-- end:: NPCs Box -->

      <!-- start:: Spells Box -->
      <div class="example-box" cdkDrag cdkDrag cdkDragBoundary=".screen">
        <span class="link">
          <a (click)="openWindow(routeSpells)">Spells</a>
        </span>
      </div>
      <!-- end:: Spells Box -->
      
    </div>
    <!-- end:: DM Screen -->
  </kt-portlet-body>
  <!-- end:: Portlet Body -->
</kt-portlet>
