<kt-portlet>
  <!-- start::Portlet Header -->
  <kt-portlet-header>
    <ng-container ktPortletTitle>
      <h1>
        <ng-container *ngIf="user$ | async as _user">
          {{ _user.fullName }}'s
        </ng-container>
        Dashboard
      </h1>
    </ng-container>
  </kt-portlet-header>
  <!-- end::Portlet Header -->

  <!-- start:: Portlet Body -->
  <kt-portlet-body>
    <!-- start:: Development Warning -->
    <div class="alert alert-warning mb-12" role="alert">
      <p class="text-center">
        This web application is still in development. Feel free to explore, and
        if you have any improvements, suggestions, or just want to report a bug
        - you can contact me at
        <a href="mailto:nicolas.brahimir@mohawkcollege.ca">
          nicolas.brahimir@mohawkcollege.ca
        </a>
      </p>
    </div>
    <!-- end:: Development Warning -->

    <!-- start:: Dashboard Container -->
    <div class="container">
      <!-- start:: Quick Links -->
      <div class="row">
        <div class="col">
          <h3>Quick Links</h3>
          <p>Coming in a later update!</p>
        </div>
      </div>
      <!-- end:: Quick Links -->

      <!-- start:: My Characters -->
      <div class="row">
        <div class="col">
          <h3>My Characters</h3>
          <p>Coming in a later update!</p>
        </div>
      </div>
      <!-- end:: My Characters -->

      <!-- start:: My Artifacts -->
      <div class="row">
        <div class="col">
          <h3>My Artifacts</h3>
          <p>Coming in a later update!</p>
        </div>
      </div>
      <!-- end:: My Artifacts -->
    </div>
    <!-- end:: Dashboard Container -->
  </kt-portlet-body>
  <!-- end:: Portlet Body -->
</kt-portlet>
