<kt-portlet>
  <!-- start::Portlet Header -->
  <kt-portlet-header>
    <ng-container ktPortletTitle>
      <span>Dashboard</span>
    </ng-container>
  </kt-portlet-header>
  <!-- end::Portlet Header -->
  <!-- start:: Portlet Body -->
  <kt-portlet-body>
    <!-- start:: DM Screen -->
    <div class="screen">
      <!-- start:: Weapons Box -->
      <div class="example-box" cdkDrag cdkDragBoundary=".screen">
        <span class="link">
          <a (click)="openWindow(routeWeapons)">Weapons</a>
        </span>
        <div class="example-handle" cdkDragHandle>
          <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
            <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
            <path d="M0 0h24v24H0z" fill="none"></path>
          </svg>
        </div>
      </div>
      <!-- end:: Weapons Box -->

      <!-- start:: Armor Box -->
      <div class="example-box" cdkDrag cdkDrag cdkDragBoundary=".screen">
        <span class="link">
          <a (click)="openWindow(routeArmor)">Armor</a>
        </span>
        <div class="example-handle" cdkDragHandle>
          <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
            <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
            <path d="M0 0h24v24H0z" fill="none"></path>
          </svg>
        </div>
      </div>
      <!-- end:: Armor Box -->

      <!-- start:: Items Box -->
      <div class="example-box" cdkDrag cdkDrag cdkDragBoundary=".screen">
        <span class="link">
          <a (click)="openWindow(routeItems)">Items</a>
        </span>
        <div class="example-handle" cdkDragHandle>
          <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
            <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
            <path d="M0 0h24v24H0z" fill="none"></path>
          </svg>
        </div>
      </div>
      <!-- end:: Items Box -->

      <!-- start:: NPCs Box -->
      <div class="example-box" cdkDrag cdkDrag cdkDragBoundary=".screen">
        <span class="link">
          <a (click)="openWindow(routeNPCs)">NPCs</a>
        </span>
        <div class="example-handle" cdkDragHandle>
          <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
            <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
            <path d="M0 0h24v24H0z" fill="none"></path>
          </svg>
        </div>
      </div>
      <!-- end:: NPCs Box -->

      <!-- start:: Spells Box -->
      <div class="example-box" cdkDrag cdkDrag cdkDragBoundary=".screen">
        <span class="link">
          <a (click)="openWindow(routeSpells)">Spells</a>
        </span>
        <div class="example-handle" cdkDragHandle>
          <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
            <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
            <path d="M0 0h24v24H0z" fill="none"></path>
          </svg>
        </div>
      </div>
      <!-- end:: Spells Box -->
    </div>
    <!-- end:: DM Screen -->
  </kt-portlet-body>
  <!-- end:: Portlet Body -->
</kt-portlet>
