<kt-portlet>
  <kt-portlet-header [class]="'card-head-lg'">
    <ng-container ktPortletTitle>
      <h1>Monsters</h1>
    </ng-container>
  </kt-portlet-header>

  <kt-portlet-body>
    <!-- start:: Filter -->
    <div class="filter-header">
      <mat-form-field>
        <input
          matInput
          (keyup)="applyFilter($event.target.value)"
          placeholder="Filter"
        />
      </mat-form-field>
    </div>
    <!-- end:: Filter -->

    <!-- end:: MatTable -->
    <table
      class="lmat-elevation-z8"
      mat-table
      matSort
      [dataSource]="dataSource"
    >
      <!-- start:: Npc Name -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let npc">
          <span class="link" (click)="openDetails(npc)"> {{ npc.name }} </span>
        </td>
      </ng-container>
      <!-- end:: Npc Name -->

      <!-- start:: Npc Alignment -->
      <ng-container matColumnDef="alignment">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Alignment</th>
        <td mat-cell *matCellDef="let npc">{{ titleCase(npc.alignment) }}</td>
      </ng-container>
      <!-- end:: Npc Alignment -->

      <!-- start:: Npc Armor Class -->
      <ng-container matColumnDef="armor_class">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Armor Class</th>
        <td mat-cell *matCellDef="let npc">{{ npc.armor_class }}</td>
      </ng-container>
      <!-- end:: Npc Armor Class -->

      <!-- start:: Npc Hitpoints -->
      <ng-container matColumnDef="hit_points">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Hit Points</th>
        <td mat-cell *matCellDef="let npc">{{ npc.hit_points }}</td>
      </ng-container>
      <!-- end:: Npc Hitpoints -->

      <!-- start:: Npc Challenge Rating -->
      <ng-container matColumnDef="challenge_rating">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Challenge Rating
        </th>
        <td mat-cell *matCellDef="let npc">{{ npc.challenge_rating }}</td>
      </ng-container>
      <!-- end:: Npc Challenge Rating -->

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
    </table>
    <!-- end:: MatTable -->

    <!-- start:: Loading spinner -->
    <div class="spinner-container">
      <mat-spinner
        [diameter]="50"
        style="margin: auto"
        *ngIf="!TABLE_DATA.length"
      ></mat-spinner>
    </div>
    <!-- end:: Loading spinner -->

    <!-- start:: Paginator -->
    <mat-paginator
      [pageSizeOptions]="[25, 50, 100]"
      showFirstLastButtons
    ></mat-paginator>
    <!-- start:: Paginator -->
  </kt-portlet-body>
</kt-portlet>
