<div class="wrapper p-10">
  <mat-dialog-content class="mat-typography">
    <!-- start:: Header -->
    <div class="details-dialog-header">
      <div class="row">
        <div class="col-6">
          <h1 class="tc-red">{{ dialogData.name }}</h1>
        </div>
        <div class="d-flex justify-content-end col-6">
          <button mat-icon-button [mat-dialog-close]="true">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <!-- end:: Header -->

    <!-- start::Spell Level and School-->
    <div *ngIf="dialogData.level || dialogData.school" class="row">
      <div class="col">
        <span class="font-italic">
          <span *ngIf="dialogData.level === 0; else default">
            Cantrip
            <span *ngIf="dialogData.school">
              {{ dialogData.school.name }} spell
            </span>
          </span>
          <ng-template #default>
            Level {{ dialogData.level }}
            <span *ngIf="dialogData.school">
              {{ dialogData.school.name }} spell</span
            >
          </ng-template>
        </span>
      </div>
    </div>
    <!-- end::Spell Level and School -->

    <!-- start:: DIVIDER -->
    <div *ngIf="dialogData.level || dialogData.school" class="divider"></div>
    <!-- end:: DIVIDER -->

    <!-- start::Spell Casting Time -->
    <div *ngIf="dialogData.casting_time" class="row">
      <div class="col-3">
        <p class="font-weight-bolder">Casting Time:</p>
      </div>
      <div class="col">
        <p>{{ dialogData.casting_time }}</p>
      </div>
    </div>
    <!-- end::Spell Casting Time -->

    <!-- start::Spell Range -->
    <div *ngIf="dialogData.range" class="row">
      <div class="col-3">
        <p class="font-weight-bolder">Range:</p>
      </div>
      <div class="col">
        <p>{{ dialogData.range }}</p>
      </div>
    </div>
    <!-- end::Spell Range -->

    <!-- start::Spell Components -->
    <div
      *ngIf="dialogData.components && dialogData.components.length !== 0"
      class="row"
    >
      <div class="col-3">
        <p class="font-weight-bolder">Components:</p>
      </div>
      <div class="col">
        <span *ngFor="let item of dialogData.components"> {{ item }} </span>
      </div>
    </div>
    <!-- end::Spell Components -->

    <!-- start::Spell Duration -->
    <div *ngIf="dialogData.duration" class="row">
      <div class="col-3">
        <p class="font-weight-bolder">Duration:</p>
      </div>
      <div class="col">
        <p>{{ dialogData.duration }}</p>
      </div>
    </div>
    <!-- end::Spell Duration -->

    <!-- start::Spell Concentration -->
    <div *ngIf="dialogData.concentration" class="row">
      <div class="col-3">
        <p class="font-weight-bolder">Concentration:</p>
      </div>
      <div class="col">
        <p>Yes</p>
      </div>
    </div>
    <!-- end::Spell Concentration -->

    <!-- start::Spell Classes -->
    <div *ngIf="dialogData.classes" class="row">
      <div class="col-3">
        <p class="font-weight-bolder">Classes:</p>
      </div>
      <div class="col">
        <span *ngFor="let item of dialogData.classes"> {{ item.name }}, </span>
      </div>
    </div>
    <!-- end::Spell Classes-->

    <!-- start::Description -->
    <div *ngIf="dialogData.desc">
      <h3 class="font-weight-bolder tc-red pt-5">Description</h3>

      <!-- start:: DIVIDER -->
      <div class="divider"></div>
      <!-- end:: DIVIDER -->

      <div class="row">
        <div class="col">
          <p *ngFor="let item of dialogData.desc">{{ item }}</p>
        </div>
      </div>
    </div>
    <!-- end::Description -->

    <!-- start::Spell Higher Levels-->
    <div
      *ngIf="dialogData.higher_level && dialogData.higher_level.length !== 0"
    >
      <h3 class="tc-red pt-5 font-weight-bolder">At Higher Levels</h3>

      <!-- start:: DIVIDER -->
      <div class="divider"></div>
      <!-- end:: DIVIDER -->

      <div class="row">
        <div class="col">
          <p *ngFor="let item of dialogData.higher_level">{{ item }}</p>
        </div>
      </div>
    </div>
    <!-- end::Spell Higher Levels-->
  </mat-dialog-content>
</div>
