<div class="card card-custom">
  <!-- start:: Card Header -->
  <div class="card-header py-3">
    <div class="card-title align-items-start flex-column">
      <ng-container *ngIf="user$ | async as user">
        <h1 class="text-dark">{{ user.fullName }}'s Virtual Screen</h1>
      </ng-container>
    </div>
    <!-- start:: Card Toolbar -->
    <div class="card-toolbar">
      <div class="row">
        <div class="col-9">
          <mat-form-field>
            <mat-label>Select a card</mat-label>
            <mat-select [(ngModel)]="addCardValue">
              <mat-option *ngFor="let item of dropdownAddCard" [value]="item">
                {{ item }}
              </mat-option>
            </mat-select>
            <mat-hint align="start"> Add a card to the virtual screen. </mat-hint>
          </mat-form-field>
        </div>
        <div class="col-3">
          <button
            [disabled]="!addCardValue"
            type="button"
            mat-raised-button
            color="primary"
            (click)="addCard(addCardValue)"
            matTooltip="Adds the selected card to the screen."
          >
            Add
          </button>
        </div>
      </div>
    </div>
    <!-- end:: Card Toolbar -->
  </div>
  <!-- end:: Card Header -->

  <!-- start:: Card Body -->
  <div class="card-body">
    <!-- start:: Virtual Screen -->
    <div class="screen">
      <ng-container *ngFor="let card of userVirtualScreen">
        <!-- start:: Cards -->
        <div
          class="card-box"
          cdkDrag
          cdkDragBoundary=".screen"
          [cdkDragFreeDragPosition]="card.position"
          (cdkDragReleased)="onDragEnded($event, card)"
        >
          <div class="container">
            <!-- start:: Remove Card Button -->
            <div class="row">
              <div class="d-flex justify-content-end col container-button-remove-card">
                <button
                  mat-icon-button
                  class="button-remove-card dialog-button-close"
                  (click)="removeCard(card)"
                >
                  <mat-icon>close</mat-icon>
                </button>
              </div>
            </div>
            <!-- end:: Remove Card Button -->

            <!-- start:: Card Content -->
            <div class="card-content row justify-content-center">
              <i [class]="card.icon"></i>
              <a (click)="openDialog(card.index)">
                {{ formattingService.titleCase(card.name) }}
              </a>
            </div>
            <!-- start:: Card Content -->
          </div>
        </div>
        <!-- start:: Cards -->
      </ng-container>

      <!-- start:: Loading spinner -->
      <div *ngIf="!userVirtualScreen" class="spinner-container" style="padding-top: 15rem">
        <mat-spinner [diameter]="80" style="margin: auto"></mat-spinner>
      </div>
      <!-- end:: Loading spinner -->
    </div>
    <!-- end:: Virtual Screen -->
  </div>
  <!-- end:: Card Body -->
</div>
