<mat-dialog-content>
  <div class="card card-custom">
    <!-- start:: Card Header -->
    <div class="card-header">
      <div class="card-title">
        <div class="card-label">
          <h1>{{ headerTitle }}</h1>
        </div>
      </div>
    </div>
    <!-- end:: Card Header -->

    <!-- start:: Card Body -->
    <div class="card-body">
      <!-- start:: Form -->
      <form [formGroup]="form">
        <h3 class="tc-red" style="font-weight: bold">General Information</h3>
        <div class="divider"></div>

        <!-- * start:: FormGroup - General Information -->
        <div formGroupName="generalInformation" class="form-group">
          <div class="form-group row">
            <!-- start:: Name -->
            <div class="col-6">
              <mat-form-field>
                <mat-label>Name</mat-label>
                <input formControlName="name" matInput placeholder="Eg. Bastion of Light" type="text" />
                <mat-error> Armor name is <strong>required</strong> </mat-error>
                <mat-hint align="start"> The <strong>name</strong> of the Armor. </mat-hint>
              </mat-form-field>
            </div>
            <!-- end:: Name -->

            <!-- start:: Armor Category -->
            <div class="col-6">
              <mat-form-field>
                <mat-label>Armor Category</mat-label>
                <mat-select formControlName="armor_category">
                  <mat-option *ngFor="let item of ARMOR_CATEGORIES" [value]="item">
                    {{ item }}
                  </mat-option>
                </mat-select>
                <mat-error> Armor category is <strong>required</strong> </mat-error>
                <mat-hint align="start"> The <strong>category</strong> of the Armor. </mat-hint>
              </mat-form-field>
            </div>
            <!-- end:: Armor Category -->
          </div>

          <div class="form-group row">
            <!-- start:: Weight -->
            <div class="col-6">
              <mat-form-field>
                <mat-label>Weight (pounds)</mat-label>
                <input formControlName="weight" matInput type="number" />
                <mat-hint align="start"> The <strong>weight</strong> of the Armor. </mat-hint>
              </mat-form-field>
            </div>
            <!-- end:: Weight -->

            <!-- start:: Cost: Quantity -->
            <div class="col-4">
              <mat-form-field>
                <mat-label>Value (amount)</mat-label>
                <input formControlName="cost_quantity" matInput type="number" min="0" />
                <mat-error> Numeric amount of cost is <strong>required</strong> </mat-error>
                <mat-hint align="start">
                  The <strong>numeric amount</strong> of currency that the Armor costs.
                </mat-hint>
              </mat-form-field>
            </div>
            <!-- end:: Cost: Quantity -->

            <!-- start:: Cost: Unit -->
            <div class="col-2">
              <mat-form-field>
                <mat-label>Value (pieces)</mat-label>
                <mat-select formControlName="cost_unit">
                  <mat-option *ngFor="let item of CURRENCIES" [value]="item">
                    {{ item }}
                  </mat-option>
                </mat-select>
                <mat-error> Unit of currency is <strong>required</strong> </mat-error>
                <mat-hint align="start"> The <strong>unit of currency</strong> of the Armor. </mat-hint>
              </mat-form-field>
            </div>
            <!-- end:: Cost: Unit -->
          </div>

          <div class="form-group row">
            <!-- start:: Rarity -->
            <div class="col-6">
              <mat-form-field>
                <mat-label>Rarity</mat-label>
                <mat-select formControlName="rarity">
                  <mat-option *ngFor="let item of RARITIES" [value]="item">
                    {{ item }}
                  </mat-option>
                </mat-select>
                <mat-error> Armor rarity is <strong>required</strong> </mat-error>
                <mat-hint align="start"> The <strong>rarity</strong> of the Armor. </mat-hint>
              </mat-form-field>
            </div>
            <!-- end:: Rarity -->

            <!-- start:: Requires Attunement -->
            <div class="col-6">
              <mat-checkbox formControlName="requires_attunement" color="primary">
                Requires attunement
              </mat-checkbox>
            </div>
            <!-- start:: Requires Attunement -->
          </div>
        </div>
        <!-- * end:: FormGroup - General Information -->

        <h3 class="tc-red" style="font-weight: bold">Armor Class & Requirements</h3>
        <div class="divider"></div>

        <!-- * start:: FormGroup - Armor Class and Requirements -->
        <div formGroupName="armorClassAndRequirements" class="form-group">
          <div class="form-group row">
            <!-- start:: Armor Class Base -->
            <div class="col-6">
              <mat-form-field>
                <mat-label>Armor Class</mat-label>
                <input formControlName="armor_class_base" matInput type="number" min="0" />
                <mat-error> Base armor class is <strong>required</strong> </mat-error>
                <mat-hint align="start"> The <strong>armor class</strong> of the Armor. </mat-hint>
              </mat-form-field>
            </div>
            <!-- end:: Armor Class Base -->

            <!-- start:: Stealth Disadvantage -->
            <div class="col-6">
              <mat-checkbox formControlName="stealth_disadvantage" color="primary">
                Stealth Disadvantage
              </mat-checkbox>
            </div>
            <!-- end:: Stealth Disadvantage -->
          </div>

          <div class="form-group row">
            <!-- start:: DEX Bonus applicable and Minimum STR Required  -->
            <div class="col-6">
              <mat-checkbox formControlName="armor_class_dex_bonus" color="primary">
                DEX bonus applicable
              </mat-checkbox>
            </div>

            <div class="col-6">
              <mat-form-field>
                <mat-label>Minimum STR required</mat-label>
                <input formControlName="str_minimum" matInput type="number" min="0" />
                <mat-hint align="start">
                  The <strong>minumum Strength required</strong> to wear the Armor.
                </mat-hint>
              </mat-form-field>
            </div>
            <!-- start:: DEX Bonus applicable and Minimum STR Required  -->
          </div>

          <div class="form-group row">
            <!-- start:: Maximum DEX bonus and Minimum STR Required -->
            <div *ngIf="form.value.armorClassAndRequirements.armor_class_dex_bonus" class="col-6">
              <mat-form-field>
                <mat-label>Maximum DEX bonus</mat-label>
                <input formControlName="armor_class_max_bonus" matInput type="number" min="0" />
              </mat-form-field>
            </div>
            <!-- start:: Maximum DEX bonus and Minimum STR Required -->
          </div>
        </div>
        <!-- * end:: FormGroup - Armor Class and Requirements -->

        <h3 class="tc-red" style="font-weight: bold">Description</h3>
        <div class="divider"></div>

        <!-- * start:: Description -->
        <div formGroupName="generalInformation" class="form-group row">
          <div class="col">
            <mat-form-field appearance="outline">
              <textarea
                matInput
                rows="5"
                cols="50"
                formControlName="description"
                placeholder="Eg. While in natural sunlight for at least 10 minutes, this breastplate gains a charge of Light, up to a maximum of 2 charges. The user can use an Action to spend one Light charge to emit blinding light in a 10 foot radius. Each creature in the affected area must make a DC 12 Constitution saving throw, or become Blinded for the duration of their turn."
              ></textarea>
              <mat-error> Armor description is <strong>required</strong> </mat-error>
              <mat-hint align="start"> The <strong>description</strong> of the Armor. </mat-hint>
            </mat-form-field>
          </div>
        </div>
        <!-- * end:: Description -->

        <!-- start:: Footer -->
        <div class="card-footer">
          <!-- start:: KT Alert if form has errors. -->
          <kt-alert
            *ngIf="hasFormErrors"
            type="warn"
            [duration]="30000"
            [showCloseButton]="true"
            (close)="onAlertClose($event)"
          >
            {{ errorMessage }}
          </kt-alert>
          <!-- start:: KT Alert if form has errors. -->

          <div class="d-flex justify-content-between">
            <div class="mr-2"></div>
            <div>
              <button
                type="button"
                mat-raised-button
                mat-dialog-close
                cdkFocusInitial
                matTooltip="Cancel"
              >
                Cancel</button
              >&nbsp;
              <button
                type="button"
                mat-raised-button
                color="primary"
                (click)="onSubmit()"
                matTooltip="Save Monster"
              >
                Save
              </button>
            </div>
          </div>
        </div>
        <!-- end:: Footer -->
      </form>
      <!-- end:: Form -->
    </div>
    <!-- end:: Card Body -->
  </div>
</mat-dialog-content>
