// Colors
$tc-red: #a90000;
$tc-white: #ffffff;

// Wrappers
.wrapper {
  margin: 0 auto;
  padding-top: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
}

// Links
a {
  text-decoration: underline;
}

a:hover {
  cursor: pointer;
  color: $tc-red;
  text-decoration: underline;
}

.link {
  text-decoration: underline;
}

.link:hover {
  cursor: pointer;
  color: $tc-red;
  text-decoration: underline;
}

// MatTables
table {
  width: 100%;
}

// MatTable search filter
.mat-form-field {
  font-size: 14px;
  width: 100%;
}

// Loading spinners
.spinner-container {
  margin: auto;
  padding: 50px;
}
