<div class="card card-custom card-stretch">
  <!-- start:: Card Header -->
  <div class="card-header py-3">
    <div class="card-title align-items-start flex-column">
      <h2 class="text-dark">{{ CONFIRMATION_MESSAGE }}</h2>
    </div>
    <!-- start:: Card Toolbar -->
    <div class="card-toolbar">
      <div class="d-flex justify-content-end">
        <button mat-icon-button mat-dialog-close>
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
    <!-- end:: Card Toolbar -->
  </div>
  <!-- end:: Card Header -->

  <!-- start:: Card Body -->
  <div class="card-body">
    <!-- start:: Plot Title -->
    <div class="row">
      <div class="col">
        <h3>{{ plotTitle }}</h3>
      </div>
    </div>
    <!-- end:: Plot Title -->

    <!-- start:: Plot Description -->
    <div class="row">
      <div class="col">
        <p>{{ plotDescription }}</p>
      </div>
    </div>
    <!-- end:: Plot Description -->
  </div>
  <!-- end:: Card Body -->

  <!-- start:: Footer -->
  <div class="card-footer">
    <div class="d-flex justify-content-between">
      <div class="mr-2">
        <h6 class="tc-red">{{ WARNING_NO_UNDO }}</h6>
      </div>
      <div>
        <button type="button" mat-raised-button mat-dialog-close cdkFocusInitial matTooltip="Cancel">
          Cancel</button
        >&nbsp;
        <button
          type="button"
          mat-raised-button
          color="primary"
          (click)="onDelete()"
          matTooltip="Delete plot"
        >
          Remove
        </button>
      </div>
    </div>
  </div>
  <!-- end:: Footer -->
</div>
