<div class="wrapper p-10">
  <mat-dialog-content class="mat-typography">
    <!-- start:: Header -->
    <div class="dialog-header">
      <h1>Create a Homebrew Monster</h1>
    </div>
    <!-- end:: Header -->

    <!-- start:: Form -->
    <form [formGroup]="form">
      <!-- start:: KT Alert if form has errors. -->
      <kt-alert
        *ngIf="hasFormErrors"
        type="warn"
        [duration]="30000"
        [showCloseButton]="true"
        (close)="onAlertClose($event)"
      >
        {{ errorMessage }}
      </kt-alert>
      <!-- start:: KT Alert if form has errors. -->

      <h4 class="tc-red" style="font-weight: bold">GENERAL INFORMATION</h4>
      <div class="divider"></div>

      <!-- * start:: General Information -->
      <div formGroupName="generalInformation" class="form-group">
        <div class="form-group row">
          <!-- start:: Name -->
          <div class="col-6">
            <mat-form-field>
              <mat-label>Name</mat-label>
              <input
                formControlName="name"
                matInput
                placeholder="Eg. Cthulu"
                type="text"
              />
              <mat-error
                >Monster name is
                <strong>required</strong>
              </mat-error>
              <mat-hint align="start"
                >Enter the <strong>name</strong> of the Monster
              </mat-hint>
            </mat-form-field>
          </div>
          <!-- end:: Name -->

          <!-- start:: Size -->
          <div class="col-6">
            <mat-form-field>
              <mat-label>Size</mat-label>
              <mat-select formControlName="size">
                <mat-option *ngFor="let item of SIZES" [value]="item">
                  {{ item }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <!-- end:: Size -->
        </div>

        <div class="form-group row">
          <!-- start:: Type -->
          <div class="col-6">
            <mat-form-field>
              <mat-label>Type</mat-label>
              <input
                formControlName="type"
                matInput
                placeholder="Eg. God"
                type="text"
              />
            </mat-form-field>
          </div>
          <!-- end:: Type -->

          <!-- start:: Subtype -->
          <div class="col-6">
            <mat-form-field>
              <mat-label>Subtype</mat-label>
              <input
                formControlName="subtype"
                matInput
                placeholder="Eg. Eldritch"
                type="text"
              />
            </mat-form-field>
          </div>
          <!-- end:: Subtype -->
        </div>

        <div class="form-group row">
          <!-- start:: Alignment -->
          <div class="col-6">
            <mat-form-field>
              <mat-label>Alignment</mat-label>
              <input
                formControlName="alignment"
                matInput
                placeholder="Eg. God"
                type="text"
              />
            </mat-form-field>
          </div>
          <!-- end:: Alignment -->

          <!-- start:: Armor Class -->
          <div class="col-6">
            <mat-form-field>
              <mat-label>Armor Class</mat-label>
              <input
                formControlName="armor_class"
                matInput
                placeholder="Eg. 20"
                type="number"
                min="0"
              />
            </mat-form-field>
          </div>
          <!-- end:: Armor Class -->
        </div>

        <div class="form-group row">
          <!-- start:: Hitpoints -->
          <div class="col-6">
            <mat-form-field>
              <mat-label>Hitpoints</mat-label>
              <input
                formControlName="hit_points"
                matInput
                placeholder="Eg. God"
                type="text"
              />
            </mat-form-field>
          </div>
          <!-- end:: Hitpoints -->

          <!-- start:: Hit Dice -->
          <div class="col-3">
            <mat-form-field>
              <mat-label>Number of hit dice</mat-label>
              <input
                formControlName="hit_dice_number"
                matInput
                placeholder="Eg. 20"
                type="number"
                min="1"
              />
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field>
              <mat-label>Type of hit die</mat-label>
              <mat-select formControlName="hit_dice_die">
                <mat-option *ngFor="let item of DICE" [value]="item">
                  {{ item }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <!-- end:: Hit Dice -->
        </div>
      </div>
      <!-- * end:: General Information -->

      <div class="mt-5">
        <span class="checkbox-label"> Movement </span>
      </div>

      <!-- * start:: Speed -->
      <div formGroupName="speed" class="form-group">
        <div class="form-group row">
          <div class="col-4">
            <span *ngFor="let item of MOVEMENTS" class="pr-5">
              <mat-checkbox formControlName="speed_{{ item }}" color="primary">
                {{ item }}
              </mat-checkbox>
            </span>
          </div>
        </div>

        <div class="form-group row">
          <!-- start:: Speed - Walk -->
          <div *ngIf="form.value.speed.speed_Walk" class="col-4">
            <mat-form-field>
              <mat-label>Walking speed (ft.)</mat-label>
              <input
                formControlName="speed_Walk"
                matInput
                placeholder="Eg. 60"
                type="number"
                min="0"
              />
            </mat-form-field>
          </div>
          <!-- end:: Speed - Walk -->

          <!-- start:: Speed - Fly -->
          <div *ngIf="form.value.speed.speed_Fly" class="col-4">
            <mat-form-field>
              <mat-label>Flying speed (ft.)</mat-label>
              <input
                formControlName="speed_Fly"
                matInput
                placeholder="Eg. 120"
                type="number"
                min="0"
              />
            </mat-form-field>
          </div>
          <!-- end:: Speed - Fly -->

          <!-- start:: Speed - Swim -->
          <div *ngIf="form.value.speed.speed_Swim" class="col-4">
            <mat-form-field>
              <mat-label>Swiming speed (ft.)</mat-label>
              <input
                formControlName="speed_Swim"
                matInput
                placeholder="Eg. 200"
                type="number"
                min="0"
              />
            </mat-form-field>
          </div>
          <!-- end:: Speed - Swim -->
        </div>
      </div>
      <!-- * start:: Speed -->

      <h4 class="tc-red" style="font-weight: bold">ABILITY SCORES</h4>
      <div class="divider"></div>

      <!-- * start:: Ability Scores -->
      <div formGroupName="abilityScores" class="form-group">
        <div class="form-group row">
          <!-- start:: Strength -->
          <div class="col-6">
            <mat-form-field>
              <mat-label>Strength</mat-label>
              <input
                formControlName="ability_scores_STR"
                matInput
                placeholder="Eg. 10"
                type="number"
              />
            </mat-form-field>
          </div>
          <!-- end:: Strength -->

          <!-- start:: Dexterity -->
          <div class="col-6">
            <mat-form-field>
              <mat-label>Dexterity</mat-label>
              <input
                formControlName="ability_scores_DEX"
                matInput
                placeholder="Eg. 10"
                type="number"
              />
            </mat-form-field>
          </div>
          <!-- end:: Dexterity -->
        </div>

        <div class="form-group row">
          <!-- start:: Constitution -->
          <div class="col-6">
            <mat-form-field>
              <mat-label>Constitution</mat-label>
              <input
                formControlName="ability_scores_CON"
                matInput
                placeholder="Eg. 10"
                type="number"
              />
            </mat-form-field>
          </div>
          <!-- end:: Constitution -->

          <!-- start:: Intelligence -->
          <div class="col-6">
            <mat-form-field>
              <mat-label>Intelligence</mat-label>
              <input
                formControlName="ability_scores_INT"
                matInput
                placeholder="Eg. 10"
                type="number"
              />
            </mat-form-field>
          </div>
          <!-- end:: Intelligence -->
        </div>

        <div class="form-group row">
          <!-- start:: Wisdom -->
          <div class="col-6">
            <mat-form-field>
              <mat-label>Wisdom</mat-label>
              <input
                formControlName="ability_scores_WIS"
                matInput
                placeholder="Eg. 10"
                type="number"
              />
            </mat-form-field>
          </div>
          <!-- end:: Wisdom -->

          <!-- start:: Charisma -->
          <div class="col-6">
            <mat-form-field>
              <mat-label>Charisma</mat-label>
              <input
                formControlName="ability_scores_CHA"
                matInput
                placeholder="Eg. 10"
                type="number"
              />
            </mat-form-field>
          </div>
          <!-- end:: Charisma -->
        </div>
      </div>
      <!-- * start:: Ability Scores -->

      <h4 class="tc-red" style="font-weight: bold">
        RESISTANCES AND VUNERABILTIES
      </h4>
      <div class="divider"></div>

      <!-- * start:: Resistances and Vunerabilities -->
      <div formGroupName="resistancesAndVulnerabilities" class="form-group">
        <!-- start:: Damage Vunerabilities -->
        <div class="form-group row">
          <div class="col">
            <mat-form-field>
              <mat-label>Damage Vunerabilities</mat-label>
              <mat-chip-list #damage_vulnerabilities_chipList>
                <mat-chip
                  *ngFor="let item of damage_vulnerabilities"
                  color="primary"
                  selected
                  [selectable]="selectable"
                  [removable]="removable"
                  (removed)="remove(item, 'damage_vulnerabilities')"
                >
                  {{ item }}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input
                  placeholder="Eg. Slashing"
                  [matChipInputFor]="damage_vulnerabilities_chipList"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  [matChipInputAddOnBlur]="addOnBlur"
                  (matChipInputTokenEnd)="add($event, 'damage_vulnerabilities')"
                />
              </mat-chip-list>
            </mat-form-field>
          </div>
        </div>
        <!-- end:: Damage Vunerabilities -->

        <!-- start:: Damage Resistances -->
        <div class="form-group row">
          <div class="col">
            <mat-form-field>
              <mat-label>Damage Resistances</mat-label>
              <mat-chip-list #damage_resistances_chipList>
                <mat-chip
                  *ngFor="let item of damage_resistances"
                  color="primary"
                  selected
                  [selectable]="selectable"
                  [removable]="removable"
                  (removed)="remove(item, 'damage_resistances')"
                >
                  {{ item }}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input
                  placeholder="Eg. Slashing"
                  [matChipInputFor]="damage_resistances_chipList"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  [matChipInputAddOnBlur]="addOnBlur"
                  (matChipInputTokenEnd)="add($event, 'damage_resistances')"
                />
              </mat-chip-list>
            </mat-form-field>
          </div>
        </div>
        <!-- end:: Damage Resistances -->

        <!-- start:: Damage Immunities -->
        <div class="form-group row">
          <div class="col">
            <mat-form-field>
              <mat-label>Damage Immunities</mat-label>
              <mat-chip-list #damage_immunities_chipList>
                <mat-chip
                  *ngFor="let item of damage_immunities"
                  color="primary"
                  selected
                  [selectable]="selectable"
                  [removable]="removable"
                  (removed)="remove(item, 'damage_immunities')"
                >
                  {{ item }}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input
                  placeholder="Eg. Slashing"
                  [matChipInputFor]="damage_immunities_chipList"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  [matChipInputAddOnBlur]="addOnBlur"
                  (matChipInputTokenEnd)="add($event, 'damage_immunities')"
                />
              </mat-chip-list>
            </mat-form-field>
          </div>
        </div>
        <!-- end:: Damage Immunities -->

        <!-- start:: Condition Immunities -->
        <div class="form-group row">
          <div class="col">
            <mat-form-field>
              <mat-label>Condition Immunities</mat-label>
              <mat-chip-list #condition_immunities_chipList>
                <mat-chip
                  *ngFor="let item of condition_immunities"
                  color="primary"
                  selected
                  [selectable]="selectable"
                  [removable]="removable"
                  (removed)="remove(item, 'condition_immunities')"
                >
                  {{ item }}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input
                  placeholder="Eg. Slashing"
                  [matChipInputFor]="condition_immunities_chipList"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  [matChipInputAddOnBlur]="addOnBlur"
                  (matChipInputTokenEnd)="add($event, 'condition_immunities')"
                />
              </mat-chip-list>
            </mat-form-field>
          </div>
        </div>
        <!-- end:: Condition Immunities -->
      </div>
      <!-- * end:: Resistances and Vunerabilities -->

      <h4 class="tc-red" style="font-weight: bold">SENSES</h4>
      <div class="divider"></div>

      <!-- * start:: Senses -->
      <div formGroupName="senses" class="form-group">
        <div class="form-group row">
          <div class="col">
            <span *ngFor="let item of SENSES" class="pr-5">
              <mat-checkbox formControlName="senses_{{ item }}" color="primary">
                {{ item }}
              </mat-checkbox>
            </span>
          </div>
        </div>

        <div class="form-group row">
          <!-- start:: Senses - Blindsight -->
          <div *ngIf="form.value.senses.senses_Blindsight" class="col-3">
            <mat-form-field>
              <mat-label>Blindsight (ft.)</mat-label>
              <input
                formControlName="senses_Blindsight"
                matInput
                placeholder="Eg. 60"
                type="number"
                min="0"
              />
            </mat-form-field>
          </div>
          <!-- end:: Senses - Blindsight -->

          <!-- start:: Senses - Darkvision -->
          <div *ngIf="form.value.senses.senses_Darkvision" class="col-3">
            <mat-form-field>
              <mat-label>Darkvision (ft.)</mat-label>
              <input
                formControlName="senses_Darkvision"
                matInput
                placeholder="Eg. 120"
                type="number"
                min="0"
              />
            </mat-form-field>
          </div>
          <!-- end:: Senses - Darkvision -->

          <!-- start:: Senses - Tremorsense -->
          <div *ngIf="form.value.senses.senses_Tremorsense" class="col-3">
            <mat-form-field>
              <mat-label>Tremorsight (ft.)</mat-label>
              <input
                formControlName="senses_Tremorsense"
                matInput
                placeholder="Eg. 120"
                type="number"
                min="0"
              />
            </mat-form-field>
          </div>
          <!-- end:: Senses - Tremorsense -->

          <!-- start:: Senses - Passive Perception -->
          <div
            *ngIf="form.value.senses.senses_Passive_Perception"
            class="col-3"
          >
            <mat-form-field>
              <mat-label>Passive Perception (ft.)</mat-label>
              <input
                formControlName="senses_Passive_Perception"
                matInput
                placeholder="Eg. 200"
                type="number"
                min="0"
              />
            </mat-form-field>
          </div>
          <!-- end:: Senses - Passive Perception -->
        </div>
      </div>
      <!-- * end:: Senses -->

      <div class="card-footer">
        <!-- start:: KT Alert if form has errors. -->
        <kt-alert
          *ngIf="hasFormErrors"
          type="warn"
          [duration]="30000"
          [showCloseButton]="true"
          (close)="onAlertClose($event)"
        >
          {{ errorMessage }}
        </kt-alert>
        <!-- start:: KT Alert if form has errors. -->

        <div class="d-flex justify-content-between">
          <div class="mr-2"></div>
          <div>
            <button
              type="button"
              mat-raised-button
              cdkFocusInitial
              matTooltip="Cancel changes"
            >
              Cancel</button
            >&nbsp;
            <button
              type="button"
              mat-raised-button
              color="primary"
              (click)="onSubmit()"
              [disabled]="viewLoading"
              matTooltip="Save changes"
            >
              Save
            </button>
          </div>
        </div>
      </div>
    </form>
    <!-- end:: Form -->
  </mat-dialog-content>
</div>
