<kt-portlet>
  <kt-portlet-header [class]="'card-head-lg'">
    <ng-container ktPortletTitle>
      <h1>Armors</h1>
    </ng-container>
  </kt-portlet-header>

  <kt-portlet-body>
    <div class="wrapper">
      <mat-dialog-content class="mat-typography">
        <!-- start:: Filter -->
        <div class="filter-header">
          <mat-form-field>
            <input
              matInput
              (keyup)="applyFilter($event.target.value)"
              placeholder="Search"
            />
          </mat-form-field>
        </div>
        <!-- end:: Filter -->

        <!-- start:: Table -->
        <table
          class="lmat-elevation-z8"
          mat-table
          matSort
          [dataSource]="dataSource"
        >
          <!-- start:: Armor Name -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td mat-cell *matCellDef="let armor">
              <span class="link" (click)="openDetails(armor)">
                {{ armor.name }}
              </span>
            </td>
          </ng-container>
          <!-- end:: Armor Name -->

          <!-- start:: Armor Category -->
          <ng-container matColumnDef="armor_category">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
            <td mat-cell *matCellDef="let armor">
              <span *ngIf="armor.armor_category; else no_data">
                {{ armor.armor_category }}
              </span>
              <ng-template #no_data> - </ng-template>
            </td>
          </ng-container>
          <!-- end:: Armor Category -->

          <!-- start:: Armor Class -->
          <ng-container matColumnDef="armor_class.base">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Armor Class
            </th>
            <td mat-cell *matCellDef="let armor">
              <span *ngIf="armor.armor_class; else no_data">
                {{ armor.armor_class.base }}
              </span>
              <ng-template #no_data> - </ng-template>
            </td>
          </ng-container>
          <!-- end:: Armor Class -->

          <!-- start:: Armor Stealth Disadvantage -->
          <ng-container matColumnDef="stealth_disadvantage">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Stealth Disadvantage
            </th>
            <td mat-cell *matCellDef="let armor">
              <span
                *ngIf="armor.stealth_disadvantage == null; then no_data"
              ></span>
              <span
                *ngIf="armor.stealth_disadvantage === true; then stealth_true"
              ></span>
              <span
                *ngIf="armor.stealth_disadvantage === false; then stealth_false"
              ></span>

              <ng-template #stealth_true> Yes </ng-template>
              <ng-template #stealth_false> No </ng-template>
              <ng-template #no_data> - </ng-template>
            </td>
          </ng-container>
          <!-- end:: Armor Stealth Disadvantage -->

          <!-- start:: Armor Strength Minimum -->
          <ng-container matColumnDef="str_minimum">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Required Strength
            </th>
            <td mat-cell *matCellDef="let armor">
              <span *ngIf="armor.str_minimum == null; then no_data"></span>
              <span> {{ armor.str_minimum }} </span>
              <ng-template #no_data> - </ng-template>
            </td>
          </ng-container>
          <!-- end:: Armor Strength Minimum -->

          <!-- start:: Armor Cost -->
          <ng-container matColumnDef="cost">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Value</th>
            <td mat-cell *matCellDef="let armor">
              <span *ngIf="armor.cost; else no_data">
                {{ armor.cost.quantity }}{{ armor.cost.unit }}
              </span>
              <ng-template #no_data> - </ng-template>
            </td>
          </ng-container>
          <!-- end:: Armor Cost -->

          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr
            mat-row
            *matRowDef="let myRowData; columns: columnsToDisplay"
          ></tr>
        </table>
        <!-- end:: Table -->

        <!-- start:: Loading spinner -->
        <div class="spinner-container">
          <mat-spinner
            [diameter]="50"
            style="margin: auto"
            *ngIf="!TABLE_DATA.length"
          ></mat-spinner>
        </div>
        <!-- end:: Loading spinner -->

        <!-- start:: Paginator -->
        <mat-paginator
          [pageSizeOptions]="[25, 50, 100]"
          showFirstLastButtons
        ></mat-paginator>
        <!-- end:: Paginator -->
      </mat-dialog-content>
    </div>
  </kt-portlet-body>
</kt-portlet>
