<div class="wrapper p-10">
  <mat-dialog-content class="mat-typography">
    <div class="row">
      <div class="col">
        <h1 class="tc-red">{{ dialogData.name }}</h1>
      </div>
    </div>

    <!-- start::Armor type -->
    <div *ngIf="dialogData.type" class="row">
      <div class="col">
        <p class="font-italic"> {{ dialogData.type }} </p>
      </div>
    </div>
    <!-- end::Armor type -->

    <!-- start:: DIVIDER -->
    <div class="divider"></div>
    <!-- end:: DIVIDER -->

    <!-- start::Armor Class -->
    <div *ngIf="dialogData.armor_class" class="row">
      <div class="col-3">
        <p class="font-weight-bolder">Armor Class:</p>
      </div>
      <div class="col">
        <p> {{ dialogData.armor_class }} </p>
      </div>
    </div>
    <!-- end::Armor Class -->

    <!-- start::Stealth Disadvantage -->
    <div class="row">
      <div class="col-3">
        <p class="font-weight-bolder">Stealth Disadvantage:</p>
      </div>
      <div class="col">
        <p> {{ dialogData.stealth_disadvantage }} </p>
      </div>
    </div>
    <!-- end::Stealth Disadvantage -->

    <!-- start::Strength Requirement -->
    <div class="row">
      <div class="col-3">
        <p class="font-weight-bolder">Strength Requirement:</p>
      </div>
      <div class="col">
        <p> {{ dialogData.strength_requirement }} </p>
      </div>
    </div>
    <!-- end::Strength Requirement -->

    <!-- start::Rarity -->
    <div class="row">
      <div class="col-3">
        <p class="font-weight-bolder">Rarity:</p>
      </div>
      <div class="col">
        <p> {{ dialogData.rarity }} </p>
      </div>
    </div>
    <!-- end::Rarity -->

    <!-- start::Value -->
    <div class="row">
      <div class="col-3">
        <p class="font-weight-bolder">Value:</p>
      </div>
      <div class="col">
        <p> {{ dialogData.value }} </p>
      </div>
    </div>
    <!-- end::Value -->

    <!-- start::Description -->
    <div *ngIf="dialogData.description">
      <h3 class="font-weight-bolder tc-red pt-5">DESCRIPTION</h3>
      <!-- start:: DIVIDER -->
      <div *ngIf="dialogData.description" class="divider"></div>
      <!-- end:: DIVIDER -->
      <div class="row pt-5">
        <div class="col">
          <h3> {{ dialogData.description }} </h3>
        </div>
      </div>
    </div>
    <!-- end::Description -->


  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
  </mat-dialog-actions>
</div>
