@import "../tc-global.scss";

// Headers
h1 {
  margin-bottom: 0.25rem;
}

h3 {
  margin-bottom: -0.25rem;
}

h4 {
  margin-bottom: -0.25rem;
}

// Dialog Cards
.tc-card-wrapper {
  margin-bottom: 1rem;
}

.tc-card-content {
  padding: 1.25rem;
  border: 2px solid;
  border-color: $tc-red;
}

.tc-card-header {
  padding: 1rem;
  background-color: $tc-red;
  color: $tc-white;
}

// Dialog Headers and Footers
div.dialog-header {
  margin-bottom: 1.5rem;
}

div.details-dialog-header {
  margin-bottom: 0rem;
}

div.dialog-footer {
  background-color: #c7c6c8;
}

// Dialog Buttons
.dialog-button-close:hover {
  background-color: #e9e9e9;
}

// Checkboxes
.checkbox-label {
  color: #757575;
  font-size: 13px;
}

// Divider
.divider {
  border: 1px solid $tc-red;
  margin-top: 7px;
  margin-bottom: 20px;
}
